---
import "../assets/navbar.css"
import "../assets/colors.css";
const baseURL = import.meta.env.BASE_URL;
---
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<div class="navbar">
	<div class="navbar-logo">
		<img src={`${baseURL}/assets/logo/logo.webp`} alt="ResetSec" />
        	<i>ResetSec</i>
	</div>
	<ul>
		<li>
			<i class="fa-solid fa-house"></i>
			<a href={`${baseURL}`}>Home</a>
		</li>
		<li>
			<i class="fa-solid fa-pen"></i>
			<a href={`${baseURL}/posts`}>Writeups</a>
		</li>
		<li>
			<i class="fa-solid fa-magnifying-glass"></i>
			<a href={`${baseURL}/posts`}>Research</a>
		</li>
		<li>
			<i class="fa-solid fa-trophy"></i>
			<a href={`${baseURL}/posts`}>Achievements</a>
		</li>
	</ul>

	<div class="links">
		<a href="https://ctftime.org/team/266022"><i class="fa-solid fa-flag"></i></a>
		<a href="https://github.com/ResetSec"><i class="fab fa-github"></i></a>
		<a href="https://x.com/ResetSecz"><i class="fab fa-x-twitter"></i></a>
		<a href="https://www.linkedin.com/company/resetsec"><i class="fab fa-linkedin"></i></a>
		<a href="mailto:administration@resetsec.xyz"><i class="fa-solid fa-envelope"></i></a>
	</div>
</div>