---
import "../styles/posts.css";
const {
  title,
  date,
  event,
  category,
  image,
  author = [],
  tags = [],
  description,
} = Astro.props.frontmatter;
const { id } = Astro.props;
---

<a href={`/posts/${id}`} class="post-link">
  <div class="post-card horizontal-card">
    <div class="post-content">
      <div class="post-meta">
        <div class="meta-left">
          {event && <span class="badge event">{event}</span>}
          {category && <span class="badge category">{category}</span>}
        </div>
      </div>

      <h2 class="post-title">{title}</h2>
      <p class="post-desc">{description}</p>

      {tags.length > 0 && (
        <div class="tags">
          {tags.map((tag) => (
            <span class="tag">{tag}</span>
          ))}
        </div>
      )}

      <div class="post-footer">
        <div class="authors">
          <i class="fa-regular fa-user"></i>
          <span>
            {author.map((a, i) => (
              <span>
                {a}
                {i < author.length - 1 ? ", " : ""}
              </span>
            ))}
          </span>
        </div>

        <div class="date">
          <i class="fa-regular fa-calendar"></i>
          <span>
            {new Date(date).toLocaleDateString(undefined, {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </span>
        </div>
      </div>
    </div>

    {image && (
      <div class="post-image">
        <img class="preview-img" src={image} alt={title} />
      </div>
    )}
  </div>
</a>