---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
const {
  title = "ResetSec",
  description = "Official website of Reset Security: a collaborative cybersecurity team competing in CTFs, researching exploits, and sharing knowledge.",
  ogDescription = "Cybersec | CTFs • Research • Collab",
  url = "https://resetsec.github.io/",
  image = "https://resetsec.github.io/assets/logo/banner.png",
  type = "website",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content={type} />
    <meta property="og:image" content={image} />

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/style.css" />

    <!-- Favicons -->
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="/reset-console/assets/logo/logo-128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="/reset-console/assets/logo/logo-64.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/reset-console/assets/logo/logo-32.png"
    />

    <!-- Extra head injection -->
    <slot name="head" />
  </head>

  <body>
    <Navbar title=`${title}` />
    <main>
      <slot />
    </main>
  </body>
</html>
