---
import Base from "./Base.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/blog.css";
const { title, date, event, category, image, author, tags, description} =
  Astro.props.frontmatter;

const imageUrl = new URL(image, Astro.site).href;
---
<head>
  <meta property="og:type" content="article" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={imageUrl} />
  <meta property="og:url" content={Astro.url.href} />

  <meta property="og:site_name" content="ResetSec" />
</head>

<Navbar 
  title="ResetSec" 
  author={author} 
/>

<Base title={title} description={description}>
  
  <slot />
  <div class="side-bar">
    <span class="label"><span>Contents</span></span>
    <ul class="toc"></ul>
  </div>
</Base>

<script defer>
  const headings = document.querySelectorAll("h1");
  const toc = document.querySelector(".toc");
  Object.entries(headings).map(([_, el]) => {
    let li = document.createElement("li");
    let a = document.createElement("a");
    a.textContent = el.textContent;
    a.href = `#${el.id}`;
    li.appendChild(a);
    toc.appendChild(li);
  });
</script>
